elpa/*
eshell/*
ac-comphist.dat
\#*\#
*~
*.elc
image-dired/*
semanticdb/*
url/*
.python-env*
*/.git/*
*/.bzr/*
gerson-emacs.d.tar.xz
vieja\ configuración/*
.achievements
.mc-lists.el
files-backup/
flycheck_*.el
*.cache
projectile-*.eld
configuracion.el
srecode-map.el
var/*
tramp
org-clock-save.el
irony/*
history
jabber-*
recentf
.org-id-locations
.sx/*
helm-adaptive-history
company-statistics-cache.el
.last-package-update-day
anaconda-mode/
tumblr-oauth-token
.#*
owp-temp.d/
places
ido.last
emojis/
.trello/
request/
network-security.data
.*.~undo-tree~.7z
snippets/
server/
