[submodule "site-packages/jazz-theme"]
	path = site-packages/jazz-theme
	url = https://github.com/donderom/jazz-theme.git
[submodule "site-packages/transcription-mode"]
	path = site-packages/transcription-mode
	url = https://github.com/skeeto/transcription-mode.git
[submodule "site-packages/secreto.el"]
	path = site-packages/secreto.el
	url = https://bitbucket.org/shackra/secreto.el.git
