/.cache/
/eln-cache/
/elpa/
/history
/transient/
/auto-save-list/
/eshell/
/projects
/projectile-bookmarks.eld
/recentf
/tree-sitter/
/.mis-lugares-guardados
/persp-confs/
/network-security.data
/tramp
/url/
/.mc-lists.el
/dirvish/
/var/

/straight/repos/el-get/
/straight/repos/emacsmirror-mirror/
/straight/repos/gnu-elpa-mirror/
/straight/repos/melpa/
/straight/repos/nongnu-elpa/

*.elc