[submodule "site-packages/cedet"]
	path = site-packages/cedet
	url = http://git.randomsample.de/cedet.git
[submodule "site-packages/jazz-theme"]
	path = site-packages/jazz-theme
	url = https://github.com/donderom/jazz-theme.git
