[submodule "site-packages/secreto.el"]
	path = site-packages/secreto.el
	url = https://bitbucket.org/shackra/secreto.el.git
[submodule "site-packages/secretaria"]
	path = site-packages/secretaria
	url = https://bitbucket.org/shackra/secretaria.el.git
[submodule "site-packages/font-man"]
	path = site-packages/font-man
	url = https://bitbucket.org/shackra/font-man.git
[submodule "site-packages/dwight"]
	path = site-packages/dwight
	url = https://bitbucket.org/shackra/dwight-k.-schrute.git
