/.cache/
/eln-cache/
/elpa/
/history
/transient/
/auto-save-list/
/eshell/
/projects
/projectile-bookmarks.eld
/recentf
/tree-sitter/
/.mis-lugares-guardados
/persp-confs/
/network-security.data
/tramp
/url/
/.mc-lists.el
/dirvish/
