<!DOCTYPE html>
<html lang="es">
    {{{header}}}
    <body>
        {{{nav}}}
        <article class="container">
            <div class="container text-justify">
                {{{content}}}
            </div>
        </article>
        {{{footer}}}
        <!-- Sharethis scripts -->
        <script type="text/javascript">stLight.options({publisher: "dbd94a51-8790-4b5b-afef-ab5be86b424c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
        <script>
         var options={ "publisher": "dbd94a51-8790-4b5b-afef-ab5be86b424c", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "reddit", "tumblr", "whatsapp", "evernote", "instapaper", "meneame", "email", "sharethis"]}};
         var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
        </script>
        <!-- Google Analytics -->
        <!-- No sé quienes visitan mi blog, ni cuantas personas lo hacen la visita -->
        <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-41094505-3', 'auto');
         ga('send', 'pageview');
        </script>
    </body>
</html>
