<!DOCTYPE html>
<html lang="es">
    {{{header}}}
    <body>
        {{{nav}}}
        <article class="container">
            <div class="container text-justify">
                {{{content}}}
            </div>
        </article>
        {{{footer}}}
    </body>
</html>
