<!-- Cabecera de la pagina -->
<header>{{! mi nav}} 
  <div class="container-fluid cabecera-caja">
    <h1><a href="/">{{site-main-title}}</a></h1> 
    <h3> 
      <span class="adorno-inicio">Catolicismo</span> 
      <span class="adorno">Emacs</span> 
      <span class="adorno-fin">Software libre</span> 
    </h3>
  </div>
  <div class="container-fluid frase-caja">
    <h2 id="frase">“{{site-sub-title}}” <b>~G.K. Chesterton</b></h2>
  </div> 
  <div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
            <span class="sr-only"> Mostrar menu de navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="menu">
          <ul class="nav navbar-nav">
            <li><a href="/">Inicio</a></li>
            {{#nav-categories}}
              <li><a href="{{category-uri}}">{{category-name}}</a></li>
            {{/nav-categories}}
            {{#nav-summary}}
              <li><a href="{{summary-item-uri}}"><i class="fa fa-tags" aria-hidden="true"></i> {{summary-item-name}}</a></li>
            {{/nav-summary}}
            {{#nav-about}}
              <li><a href="{{about-uri}}"><i class="fa fa-male" aria-hidden="true"></i> {{about-name}}</a></li>
            {{/nav-about}}
            {{#nav-source-browse}}
              <li><a href="{{source-browse-uri}}"><i class="fa fa-bitbucket-square" aria-hidden="true"></i> {{source-browse-name}}</a></li>
            {{/nav-source-browse}}
            {{#nav-rss}}
              <li><a href="{{rss-uri}}"><i class="fa fa-rss-square" aria-hidden="true"></i> {{rss-name}}</a></li>
            {{/nav-rss}}
          </ul>
        </div> 
      </div> 
    </nav>
  </div> 
</header>
