<h2>Sobre {{author}}</h2>
<p>{{author}} es algo vago y dejó esta pagina en blanco</p>
<hr/>
<p>Ésta pagina es generada automaticamente por <a href="https://github.com/kelvinh/org-page" target="_blank">org-page</a>.</p>
